<h2>Add a New Place</h2>

<%= simple_form_for @place do |f| %>
  <div class="field">
    <%= f.label :address_country %>
    <%= f.text_field :address_country %>
  </div>
  <div class="field">
    <%= f.label :address_city %>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_street_name %>
    <%= f.text_field :address_street_name %>
  </div>
  <div class="field">
    <%= f.label :address_zip_code %>
    <%= f.text_field :address_zip_code %>
  </div>
  <div class="field">
    <%= f.label :screen_number %>
    <%= f.number_field :screen_number %>
  </div>
  <div class="field">
    <%= f.label :desk_number %>
    <%= f.number_field :desk_number %>
  </div>
  <div class="field">
    <%= f.label :bed_number %>
    <%= f.number_field :bed_number %>
  </div>
  <div class="field">
    <%= f.label :internet_speed %>
    <%= f.number_field :internet_speed, step: :any %>
  </div>
  <div class="field">
    <%= f.label :outdoor %>
    <%= f.check_box :outdoor %>
  </div>
  <div class="field">
    <%= f.label :air_conditionning %>
    <%= f.check_box :air_conditionning %>
  </div>
  <div class="field">
    <%= f.label :price_per_day %>
    <%= f.number_field :price_per_day, step: :any %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Place' %>
  </div>
<% end %>
