<div class="modal fade" id="new_movie_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "homeaddaplace.svg", alt: "backpack logo", width: "25", height: "25", style:"cursor: pointer;" %>
        <h5 class="modal-title">&nbsp;Add a new place</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="bulk-data address-autocomplete form-validation" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <%= simple_form_for(@place) do |f| %>
          <div class="w-100 mb-3 form-inputs position-relative">
            <%= f.input :address_street_name, input_html: {data: {address_autocomplete_target: "address", form_validation_target: "address", action: "form-validation#validateInput"}, class: "d-none"}, wrapper_html: {class: "form-group"} %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inputs">
                <%= f.label :address_country %>
                <%= f.text_field :address_country, class: 'form-control', data: { address_autocomplete_target: 'addressCountry', form_validation_target: 'addressCountry', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :address_city %>
                <%= f.text_field :address_city, class: 'form-control', data: { address_autocomplete_target: 'addressCity', form_validation_target: 'addressCity', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :address_zip_code %>
                <%= f.text_field :address_zip_code, class: 'form-control', data: { address_autocomplete_target: 'addressZipCode', form_validation_target: 'addressZipCode', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :screen_number %>
                <%= f.number_field :screen_number, class: 'form-control', data: { bulk_data_target: 'screenNumber', form_validation_target: 'screenNumber', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :desk_number %>
                <%= f.number_field :desk_number, class: 'form-control', data: { bulk_data_target: 'deskNumber', form_validation_target: 'deskNumber', action: 'form-validation#validateInput' } %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-inputs">
                <%= f.label :bed_number %>
                <%= f.number_field :bed_number, class: 'form-control', data: { bulk_data_target: 'bedNumber', form_validation_target: 'bedNumber', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :internet_speed %>
                <%= f.number_field :internet_speed, step: :any, class: 'form-control', data: { bulk_data_target: 'internetSpeed', form_validation_target: 'internetSpeed', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :outdoor %>
                <%= f.check_box :outdoor, data: { bulk_data_target: 'outdoor', form_validation_target: 'outdoor', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :air_conditionning %>
                <%= f.check_box :air_conditionning, data: { bulk_data_target: 'airConditionning', form_validation_target: 'airConditionning', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :price_per_day %>
                <%= f.number_field :price_per_day, step: :any, class: 'form-control', data: { bulk_data_target: 'pricePerDay', form_validation_target: 'pricePerDay', action: 'form-validation#validateInput' } %>
              </div>
              <div class="form-inputs">
                <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'form-control', data: { form_validation_target: 'photos', action: 'form-validation#validateInput' } } %>
              </div>
            </div>
          </div>
          <div class="form-inputs mb-3">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'tinymce form-control'%>
            <%= tinymce %>
          </div>
          <div class="actions d-flex justify-content-center mt-3">
            <%= f.submit 'Create Place', class: "btn btn-primary w-100", data: { form_validation_target: 'submit' }, disabled: true %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-cancel w-100" data-bs-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
