<div class="modal fade" id="new_movie_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new place 🛖</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="bulk-data">
        <%= simple_form_for(@place) do |f| %>
          <div class="form-inputs mb-3">
            <%= f.label :bulk_data, "Paste Data for bulk booking 👀 (CSV format)" %>
            <textarea data-bulk-data-target="bulkDataInput" class="form-control" style="width: 100%;" rows="1"></textarea>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inputs">
                <%= f.label :address_country %>
                <%= f.text_field :address_country, id: 'address_country', class: 'form-control', data: { bulk_data_target: 'addressCountry' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :address_city %>
                <%= f.text_field :address_city, id: 'address_city', class: 'form-control', data: { bulk_data_target: 'addressCity' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :address_street_name %>
                <%= f.text_field :address_street_name, id: 'address_street_name', class: 'form-control', data: { bulk_data_target: 'addressStreetName' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :address_zip_code %>
                <%= f.text_field :address_zip_code, id: 'address_zip_code', class: 'form-control', data: { bulk_data_target: 'addressZipCode' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :screen_number %>
                <%= f.number_field :screen_number, id: 'screen_number', class: 'form-control', data: { bulk_data_target: 'screenNumber' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :desk_number %>
                <%= f.number_field :desk_number, id: 'desk_number', class: 'form-control', data: { bulk_data_target: 'deskNumber' } %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-inputs">
                <%= f.label :bed_number %>
                <%= f.number_field :bed_number, id: 'bed_number', class: 'form-control', data: { bulk_data_target: 'bedNumber' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :internet_speed %>
                <%= f.number_field :internet_speed, step: :any, id: 'internet_speed', class: 'form-control', data: { bulk_data_target: 'internetSpeed' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :outdoor %>
                <%= f.check_box :outdoor, id: 'outdoor', data: { bulk_data_target: 'outdoor' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :air_conditionning %>
                <%= f.check_box :air_conditionning, id: 'air_conditionning', data: { bulk_data_target: 'airConditionning' } %>
              </div>
              <div class="form-inputs">
                <%= f.label :price_per_day %>
                <%= f.number_field :price_per_day, step: :any, id: 'price_per_day', class: 'form-control', data: { bulk_data_target: 'pricePerDay' } %>
              </div>
              <div class="form-inputs">
                <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'form-control' } %>
              </div>
            </div>
          </div>
          <div class="form-inputs mb-3">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control tinymce w-100' %>
            <%= tinymce %>
          </div>
          <div class="actions d-flex justify-content-center mt-3">
            <%= f.submit 'Create Place', class: "btn btn-primary w-100" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-cancel w-100" data-bs-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
