  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4">
        <div class="card mb-4" style="border-radius: 5%; position: relative;">
          <div class="card-body">
            <h5 class="card-title"><%= booking.place.address_street_name %>, <%= booking.place.address_city %>, <%= booking.place.address_country %></h5>
            <p class="card-text">
              <strong>Start Date:</strong> <%= booking.first_day %><br>
              <strong>End Date:</strong> <%= booking.last_day %><br>
              <strong>Zip Code:</strong> <%= booking.place.address_zip_code %><br>
              <strong>Screen Number:</strong> <%= booking.place.screen_number %><br>
              <strong>Desk Number:</strong> <%= booking.place.desk_number %><br>
              <strong>Bed Number:</strong> <%= booking.place.bed_number %><br>
              <strong>Internet Speed:</strong> <%= booking.place.internet_speed %> Mbps<br>
              <strong>Outdoor:</strong> <%= booking.place.outdoor ? '✓' : '✗' %><br>
              <strong>Air Conditioning:</strong> <%= booking.place.air_conditionning ? '✓' : '✗' %><br>
              <strong>Price Per Day:</strong> $<%= booking.place.price_per_day %>
            </p>
            <div>
              <%= link_to 'Edit', edit_place_booking_path(booking.place, booking), class: 'btn btn-outline-secondary' %>
              <%= link_to 'Delete', place_booking_path(booking.place, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
