<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container fixed-top" data-controller="navbar search" style="background-color: #F4F4F4;">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <div data-navbar-target="content" class="d-flex align-items-center">
          <%= image_tag "flexspaceicon.svg", alt: "Flexspace logo", class: "me-2" %>
          <div class="d-flex flex-column justify-content-center h-100">
            <span class="h5 mb-0">flexspace</span>
            <h6 class="small">by developers for developers</h6>
          </div>
        </div>
        <%= image_tag "house-icon.png", alt: "Home icon", class: "d-none", data: { navbar_target: "icon" } %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto text-center">
        <div class="d-flex align-items-center" data-action="mouseover->search#showSearchForm mouseout->search#hideSearchForm">
          <%= image_tag "searchnavbaricon.svg", alt: "search logo", width: "25", height: "25", style:"cursor: pointer;" %>
        </div>
        <div style="display: none;" data-search-target="searchForm" id="searchForm">
          <%= form_with url: places_path, method: :get, class:"d-flex ms-2" do %>
            <%= text_field_tag :places_searched, params[:places_searched,], class: "form-control me-2", placeholder: "Search places", data: { search_target: "searchInput" } %>
            <%= submit_tag "Search", class: "btn btn-outline-success" %>
          <% end %>
        </div>
        <div class="d-flex align-items-center ms-3 me-2" data-bs-toggle="modal" data-bs-target="#filterModal">
          <%= image_tag "filternavbar.svg", alt: "filter logo", width: "25", height: "25", style:"cursor: pointer;" %>
        </div>
        <div>
          <%= link_to map_path, class: "nav-link" do %>
            <%= image_tag "earthnavbar.svg", alt: "earth logo", width: "25", height: "25", style:"cursor: pointer;" %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to trip_path, class: "nav-link" do%>
              <%= image_tag "Backpack.svg", alt: "backpack logo", width: "25", height: "25", style:"cursor: pointer;" %>
              <span>Trips</span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag Avatarro.image("#{current_user.first_name} #{current_user.last_name}", random: false, color:"blue"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="dropdown-item">ðŸ‘¤ <%= current_user.first_name + " " + current_user.last_name %></div>
              <%= link_to "ðŸ“ Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter Places</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: places_path, method: :get, local: true, data: { controller: "range" } do %>
          <div class="mb-3">
            <%= label_tag :address_country, "Country" %>
            <%= text_field_tag :address_country, params[:address_country], class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= label_tag :address_city, "City" %>
            <%= text_field_tag :address_city, params[:address_city], class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= label_tag :internet_speed, "Internet Speed (Mbps)" %>
            <%= number_field_tag :internet_speed, params[:internet_speed], class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= label_tag :price_per_day, "Max Price per Day" %>
            <%= number_field_tag :price_per_day, params[:price_per_day], class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= label_tag :bed_number, "Number of Beds", class: "form-label" %>
            <input type="range" class="form-range" id="bedNumberRange" name="bed_number" value="<%= params[:bed_number] || 1 %>" min="1" max="10" data-action="input->range#handleInput" data-range-target="range">
            <div class="d-flex justify-content-center w-100">
              <output class="text-center" id="bedNumberOutput" data-range-target="output"><%= params[:bed_number] || 1 %></output>
            </div>
          </div>
          <div class="mb-3">
            <%= label_tag :desk_number, "Number of Desks", class: "form-label" %>
            <input type="range" class="form-range" id="deskNumberRange" name="desk_number" value="<%= params[:desk_number] || 1 %>" min="1" max="10" data-action="input->range#handleInput" data-range-target="range">
            <div class="d-flex justify-content-center w-100">
              <output class="text-center" id="deskNumberOutput" data-range-target="output"><%= params[:desk_number] || 1 %></output>
            </div>
          </div>
          <div class="mb-3">
            <%= label_tag :screen_number, "Number of Screens", class: "form-label" %>
            <input type="range" class="form-range" id="screenNumberRange" name="screen_number" value="<%= params[:screen_number] || 1 %>" min="1" max="10" data-action="input->range#handleInput" data-range-target="range">
            <div class="d-flex justify-content-center w-100">
              <output class="text-center" id="screenNumberOutput" data-range-target="output"><%= params[:screen_number] || 1 %></output>
            </div>
          </div>
          <div class="mb-3 form-check">
            <%= check_box_tag :outdoor, '1', params[:outdoor].present?, class: "form-check-input" %>
            <%= label_tag :outdoor, "Outdoor Space", class: "form-check-label" %>
          </div>
          <div class="mb-3 form-check">
            <%= check_box_tag :air_conditionning, '1', params[:air_conditionning].present?, class: "form-check-input" %>
            <%= label_tag :air_conditionning, "Air Conditioning", class: "form-check-label" %>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Apply Filters", class: "btn btn-primary" %>
            <%= link_to "Reset Filters", places_path, class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
