<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="search">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "flexspaceicon.svg", alt: "Flexspace logo" %>
        <span>flexspace</span>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto text-center">
        <div class="d-flex align-items-center" data-action="mouseover->search#showSearchForm mouseout->search#hideSearchForm">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div style="display: none;" data-search-target="searchForm" id="searchForm">
          <%= form_with url: places_path, method: :get, class:"d-flex ms-2" do %>
            <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Search places", data: { search_target: "searchInput" } %>
            <%= submit_tag "Search", class: "btn btn-outline-success" %>
          <% end %>
        </div>
        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to trip_path, class: "nav-link" do%>
              <%= image_tag "Backpack.svg", alt: "backpack logo" %>
              <span>Trips</span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag Avatarro.image("#{current_user.first_name} #{current_user.last_name}", random: true), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="dropdown-item">ðŸ‘¤ <%= current_user.first_name + " " + current_user.last_name %></div>
              <%= link_to "ðŸ“ Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
