<div class="card" style="border-radius: 5%; position: relative;" data-controller="favorite">
  <div style="position: absolute; top: 10px; right: 10px; z-index: 10;">
    <i class="fas fa-heart favorite-icon" data-place-id="<%= place.id %>" data-action="click->favorite#toggleFavorite" data-favorite-target="icon" style="color: <%= place.favorited_by?(current_user) ? 'red' : 'grey' %>; font-size: 24px; cursor: pointer;"></i>
  </div>

  <%= link_to place_path(place), style: 'text-decoration: none;' do %>
    <div id="carouselExampleIndicators-<%= place.id %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% place.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators-<%= place.id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner" style="border-radius: 5%; height: 400px;">
        <% place.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>" style="height: 100%;">
            <%= cl_image_tag(photo.key, alt: "Slide #{index + 1}", style: "object-fit: cover; width: 100%; height: 100%; border-radius: 5%;") %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-<%= place.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-<%= place.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body" style="height: 120px;">
      <div class="card-title" style="height: 40px;">
        <p class="ms-0" style="margin: 0; line-height: 40px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><strong><%= place.address_city %>, <%= place.address_country %></strong></p>
      </div>
      <div class="d-flex justify-content-between align-items-center w-100">
        <span style="height: 20px; line-height: 20px;">
        <%= image_tag 'pcicon.svg', width: 30, height: 30, class: 'icon' %>
        <%= place.screen_number %>
        </span>
        <span style="height: 20px; line-height: 20px;">
        <%= image_tag 'bedicon.svg', width: 30, height: 30, class: 'icon' %>
        <%= place.bed_number %>
        </span>
        <span style="height: 20px; line-height: 20px;">
        <%= image_tag 'wifiicon.svg', width: 30, height: 30, class: 'icon' %>
        <%= place.internet_speed %>
        </span>
        <span style="height: 20px; line-height: 20px;">
        <%= image_tag 'euroicon.svg', width: 30, height: 30, class: 'icon' %>
        <%= place.price_per_day %>
        </span>
      </div>
    </div>
  <% end %>
</div>
