<%= simple_form_for [@place, @booking] do |f| %>
  <div class="field">
    <%= f.label :first_day %>
    <%= f.date_field :first_day %>
  </div>

  <div class="field">
    <%= f.label :last_day %>
    <%= f.date_field :last_day %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
