<div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <div class="banner">
        <div class="banner-overlay">
          <h1 class="banner-title">FLEXSPACE</h1>
          <h2 class="banner-subtitle">UNLEASH YOUR PRODUCTIVITY AROUND THE WORLD</h2>
        </div>
        <video class="banner-video" autoplay loop muted>
          <source src="<%= asset_path('banner.mp4') %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-12 text-center">
    <h1 class="header-text">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-desktop-analytics" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a905b6" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 4m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z" />
        <path d="M7 20h10" />
        <path d="M9 16v4" />
        <path d="M15 16v4" />
        <path d="M9 12v-4" />
        <path d="M12 12v-1" />
        <path d="M15 12v-2" />
        <path d="M12 12v-1" />
      </svg>
      <span class="website-name">All our Working-Places</span>

      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-check" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fd0061" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2" />
        <path d="M19 13.488v-1.488h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h4.525" />
        <path d="M15 19l2 2l4 -4" />
      </svg>
    </h1>
  </div>
</div>


  <div class="row">
    <div class="col">
      <p><%= @places.count %> places available.</p>
    </div>
  </div class="row">

  <div class="row g-3">
    <% @places.each do |place| %>
      <div class="col-md-4">
        <%= render 'shared/placecardindex', place: place %>
      </div>
    <% end %>
  </div>

</div>

<% if @applied_filters.present? %>
  <div class="filters-summary">
    <h5>Applied Filters:</h5>
    <ul>
      <% @applied_filters.each do |key, value| %>
        <li><strong><%= key.to_s.humanize %>:</strong> <%= value %></li>
      <% end %>
    </ul>
    <div class="btn-group">
      <%= link_to "Reset", places_path, class: "btn btn-secondary btn-sm" %>
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#filterModal">Modify</button>
    </div>
  </div>
<% end %>
