<h1>Create your Place</h1>
  <div class="container">
    <%= simple_form_for @place do |f| %>
      <div class="field">
        <%= f.input :address_country, as: :string, label: "Country", required: :true %>
        <%= f.input :address_city, label: "City", required: :true %>
        <%= f.input :address_street_name, label: "Street name", required: :true %>
        <%= f.input :address_zip_code, label: "Zip code", required: :true %>
        <%= f.input :screen_number, label: "Number of screen", required: :true %>
        <%= f.input :desk_number, label: "Number of desk", required: :true %>
        <%= f.input :bed_number, label: "Number of bed", required: :true %>
        <%= f.input :internet_speed, step: :any, label: "Internet speed", required: :true %>
        <%= f.label :outdoor %>
        <%= f.check_box :outdoor %>
        <%= f.label :air_conditionning %>
        <%= f.check_box :air_conditionning %>
        <%= f.input :price_per_day, step: :any, label: "Price per day", required: :true %>
        <%= f.input :photos, as: :file, required: true, input_html: { multiple: true, class: 'form-control' } %>
      </div>
      <div class="actions">
        <%= f.submit 'Create Place', class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= link_to 'Back', trip_path, class: 'btn btn-secondary' %>
  </div>
