<div class="container">
  <h3><%= @place.address_city %>, <%= @place.address_country %></h3>

    <h4>Ce que <%= @place.user.first_name %> vous propose</h4>
      <div class = "row">
        <div class="col-6 col-md-4">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-desktop"></i> <%= @place.screen_number %> Screen</li>
              <li class="list-group-item"><i class="fa-solid fa-chair"></i> <%= @place.desk_number %> Desk</li>
              <li class="list-group-item"><i class="fa-solid fa-bed"></i> <%= @place.bed_number %> Bed</li>
              <li class="list-group-item"><i class="fa-solid fa-wifi"></i> Wifi speed <%= @place.internet_speed %> Mbit/s </li>
              <li class="list-group-item"><i class="fa-regular fa-snowflake"></i>
                <% if @place.air_conditionning = "True" %>
                  <%= "Air Conditioning" %>
                  <% else %>
                  <strike><%= "Air Conditioning" %></strike>
                <% end %>
              </li>
              <li class="list-group-item"><i class="fa-solid fa-sun"></i>
              <% if @place.outdoor = "True" %>
                <%= "Outdoor" %>
                <% else %>
                <strike><%= "Outdoor" %></strike>
              <% end %>
              </li>
          </ul>
        </div>
        <div class="col-6 col-md-4">
        </div>
        <div class="col-6 col-md-4">
          <h4><%= @place.price_per_day.round %> € per day</h4>
            <%= render  'shared/placeform' %>
        </div>
      </div>
</div>
